@charset "UTF-8";
// btn
//----------------------------------------------------
// btn-basic
// 按钮基本样式，联合申明
%btn-basic {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    user-select: none;
    padding: 0 1em;
    white-space: nowrap;
}

// btn-size
// 按钮大小
@mixin btn-size($padding: 1em, $height: $barHeight, $radius: 3px) {
    padding: 0 $padding;
    line-height: $height - 2px; // 减掉2px的上下高度
    @if $radius {
        border-radius: $radius;
    }
}

// btn-color
// 包括按钮背景色，文本色，是否有边框
@mixin btn-color($colorText: #333, $colorBg: #666, $colorBorder: false) {
    color: nth($colorText, 1);
    background-color: nth($colorBg, 1);
    @if $colorBorder {
        border-color: nth($colorBorder, 1);
    }
    &:hover,
    &:active {
        @if length($colorText)==2 {
            color: nth($colorText, 2);
        }
        @if length($colorBg)==2 {
            background-color: nth($colorBg, 2);
        }
        @else {
            @if lightness($colorBg) > 40% {
                background-color: darken($colorBg, 5%);
            }
            @else {
                background-color: lighten($colorBg, 5%);
            }
        }
        @if $colorBorder and length($colorBorder)==2 {
            border-color: nth($colorBorder, 2); // $colorBorder: #dbdbdb #ccc => #ccc
        }
    }
}

//old
@mixin button-varint($color, $background-color, $border) {
    color: $color;
    background-color: $background-color;
    @if $border {
        border: $border;
    }
    &:hover {
        background-color: darken($background-color, 5%);
    }
}

@mixin button-hover($dom, $background-color, $font-color) {
    #{$dom}:hover {
        background-color: darken($background-color, 5%);
        color: $font-color;
    }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}
